\.gradle
solvers/java/build
*.pyc
demo/02_LDPC/BerData/
solvers/lib/
solvers/java/bin/
solvers/java/src/com/lyricsemi/dimple/test/output
build/*.zip
build/dimple_*
bee.out.txt
dimple.ant.txt
testDimpleexitDone.txt
testDimple.failures.txt
dimple.matlab.txt
matlab.log
gen_pfiles.m
*~
*.mexmaci64
.DS_Store
compareGraphsResults.txt
testGP5out.txt
\#*
*\.pyc
doc/DimpleUserDocumentation.pdf
DimpleEntry.mexa64
demo/05_MultipleSudoku/sudo
demo/05_MultipleSudoku/sudoA