\.gradle
solvers/java/build
*.pyc
demo/02_LDPC/BerData/
solvers/lib/
solvers/java/bin/
solvers/java/src/com/lyricsemi/dmpl/test/output
build/*.zip
build/dmpl_*
bee.out.txt
dmpl.ant.txt
testDMPLexitDone.txt
testDMPL.failures.txt
dmpl.matlab.txt
matlab.log
gen_pfiles.m
*~
*.mexmaci64
.DS_Store
compareGraphsResults.txt
testGP5out.txt
\#*
*\.pyc
